* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #F8F1EE;
}

@font-face {
  font-family: 'Young-serif';
  src: url(font/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-regular';
  src: url(font/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-Semi';
  src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins-medium';
  src: url(font/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-bold';
  src: url(font/Poppins-Bold.ttf);
}

/* INICIO HEADER */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 137px;
}

.logo h2 {
  color: #3C2520;
  padding-left: 15px;
  font-family: 'Young-serif';
  font-size: 31.56px;
  /* font: 500 'Young-serif' 31.56px; */
}

#header {
  background-color: #B99B8D;
  height: 127px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 94px;
}

a {
  text-decoration: none;
}

.botoes {
  display: flex;
  background-color: #3C2520;
  height: 52px;
  align-items: center;
  justify-content: space-evenly;
}

.botoes a {
  color: white;
  font-family: 'Poppins-regular';
  font-size: 17px;
}

#buscar {
  padding: 13px 15px;
  background-color: #3C2520;
  border-radius: 30px;
  width: 581px;
  color: white;
  font-family: 'Poppins-regular';
  font-size: 15px;
  cursor: pointer;
}

#buscar:hover {
  background-color: #6D5448;
}

input::placeholder {
  color: #F8F1EE;
  font-family: 'Poppins-regular';

}

.fa-regular {
  font-size: 31px;
  color: #3C2520;
}

.login a {
  text-decoration: none;
  border: 3px #3C2520 solid;
  padding: 10px 17px;
  color: #3C2520;
  border-radius: 11px;
  font-family: 'Young-serif';
  font-size: 15px;
}

.login a:hover{
  background-color: #3C2520;
  color: #F8F1EE;
}

#favoritos {
  display: flex;
  align-items: baseline;
}

#cont-favoritos {
  text-align: center;
  font-family: 'Poppins-regular';
  color: #3C2520;
}

/* FIM HEADER */

/* MAIN - BANNER */

:root {
  --card-width: 230px;
  --card-height: 360px;
  --card-transition-duration: 1900ms;
  --card-transition-easing: ease;
}


#banner {
  width: 100%;
  height: 521px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 43px 0;
  position: relative;
  /* Importante para posicionar elementos filhos */
}

#banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Cor de fundo com transparência */
  z-index: -1;
  /* Coloca o elemento aninhado atrás do elemento pai */
}


.cardList button {
  border: none;
  background: none;
  cursor: pointer;
}

.cardList button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img,
.bg-current img,
.bg-next img,
.bg-previous img {
  width: 850px;
}

.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b99b8d8b;
  z-index: 1;
  /* opacity: 0.8; */
}

.bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}

.bg__image img {
  /* background-image: url(/img-interface/banner.webp); */
  height: 200px;
  object-fit: cover;
}

.bg__image.bg-current {
  opacity: 1;
  --image-translate-offset: 0;
}

.bg__image.bg-previous,
.bg__image.bg-next {
  opacity: 0;
}

.bg__image.bg-previous {
  --image-translate-offset: -25%;
}

.bg__image.bg-next {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}

.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.cardList__btn.btn--left {
  left: -5%;
}

.cardList__btn.btn--right {
  right: -5%;
}

.cardList__btn .icon {
  width: 100%;
  height: 100%;
}

.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}

.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}

.card::before {
  border-radius: 11px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000ab;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}

.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  ;
  object-fit: cover;
}

.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}

.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}

.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}

.card.previous--card,
.card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}

.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.previous--info,
.next--info,
.current--info {
  background-color: #855c4ade;

  /* backdrop-filter: blur(5px); */

}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  padding: 30px 35px;
  border-radius: 6px;
}

.info .text {
  position: relative;
  font-family: "Poppins-Regular";

  white-space: nowrap;
  color: #fff;
  width: fit-content;
  justify-content: left;


  /* calc(var(--card-width) * var(--text-size-offset, 0.2)) */
}

.info .name,
.info .location {
  font-size: 20px;
  text-transform: uppercase;
}

.description {
  font-size: 15px;
}

.info .location {
  font-weight: 800;
}

.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}

.info .location::before,
.info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}

.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}

.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}

.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}

.info.current--info {
  opacity: 1;
  display: block;
}

.info.previous--info,
.info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}

.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}

.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
}

/* FIM BANNER */

/* NOVIDADES INICIO */

.circuloUm {
  margin: 97px 0px 0px 405px;
  background-color: #3C2520;
  border-radius: 200px;
  width: 185px;
  height: 185px;
  position: absolute;
  top: 752px;

}

.circuloDois {
  margin: 0px 0px 0px 204px;
  background-color: #3C2520;
  border-radius: 200px;
  width: 222px;
  height: 222px;
  position: absolute;
  top: 985px;

}

.novidade h1 {
  position: absolute;
  font-family: 'Young-serif';
  font-size: 49px;
  color: #522318;
  left: 59.2%;
  top: 115%;
}

.divsaoUm {
  position: absolute;
  left: 59%;
  top: 125%;
  background-color: #522318;
  width: 453px;
  height: 7px;
  border-radius: 11px;
}

.divsaoDois {
  position: absolute;
  left: 59%;
  top: 155%;
  background-color: #522318;
  width: 453px;
  height: 7px;
  border-radius: 11px;
}

/* FIM NOVIDADES */

/* LANÇAMENTOS INICIO */

.container-lancamento {
  position: absolute;
  left: 10%;
  top: 145%;
  transform: translate(-50%, -50%);
}

#slide {
  width: max-content;
  margin-top: 200px;
}

.item {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 30%;
  transform: translate(0, -50%);
  border-radius: 16px;
  box-shadow: 0 30px 50px #3f231e30;
}

.item:nth-child(3) {
  left: 50%;
}

.item:nth-child(4) {
  left: calc(50% + 220px);
}

.item:nth-child(5) {
  left: calc(50% + 440px);
  box-shadow: 0 30px 50px #522318c6;
  height: 340px;
  width: 234px;
}

.item:nth-child(n+6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 53%;
  left: 750px;
  width: 530px;
  text-align: left;
  padding: 0;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 9999;
}

.item .name {
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards
}

.item .des {
  margin: 15px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards
}

.item .data {
  margin: 15px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards
}

.item .content .name {
  font-family: 'Poppins-Semi';
  font-size: 29px;
  color: #522318;
}

.item .content .data {
  font-family: 'Poppins-medium';
  font-size: 18px;
  color: #522318;
}

.item .content .des {
  font-family: 'Poppins-regular';
  font-size: 20px;
  color: #522318;
  width: 493px;
}

.name,
.data,
.des {
  color: #000;
}


.item button {
  padding: 10px 20px;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  display: flex;
  top: 120%;
  left: 230px;
  z-index: 222222;
  text-align: center;
}

.buttons button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  transition: 0.5s;
  background-color: #B99B8D;
}

.buttons button:hover,
.buttons button #prev:hover,
.buttons button #nexy:hover {
  background-color: #522318;
  color: white;

}

.buttons button i {
  font-size: 20px;
  color: rgb(239, 236, 236);
}

#prev,
#next {
  margin: 0 10px;
}

#lancamentos {
  background-color: #F8F1EE;
  height: 616px;
}

/* FIM LANÇAMENTOS */

/* setor três - produtos */

#Produtos {
  background-color: #b99b8d8b;
  height: 855px;
  display: flex;


}

.tarja-tudo {
  margin: 52px 0px 3px;
}

.tarja {
  width: 1518.9px;
  background-color: #3C2520;
  margin: 23px 0;
  height: 137px;
}

.tarja p {
  color: #E3CFBC;
  padding: 16px 156px;
  font-size: 28px;
  font-family: 'Poppins-Semi';
}

.tarja p span {
  font-size: 49px;
  font-family: 'Young-serif';
}

.linha-um {
  margin: 10px 0px 0px 156px;
  width: 1202px;
  height: 2.5px;
}

.linha {
  background-color: #3C2520;

}

.linha-dois {
  margin: 0px 0px 0px 156px;
  width: 1202px;
  height: 2.3px;
}

.info-produtos {
  width: 446px;
  margin: 0 0px 0 155px;
}

.texto {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  margin: 25px 0px;
}

.detalhes {
  margin: 0 0px 0 50px;
}

.detalhes-library {
  margin: 0 0px 0 41px;
}

.texto h3 {
  font-family: 'Young-serif';
  color: #522318;

  font-size: 24px;
}

.texto p {
  font-family: 'Poppins-regular';
  color: #522318;

  font-size: 17px;
}

.botao-linha {
  display: flex;
  justify-content: center;
  margin: 0 0 0 195px;
}

.botao-linha a {
  width: 284px;
  display: flex;
  padding: 11px 24px;
  border-radius: 15px;
  font-size: 24px;
  font-family: 'Young-serif';
  color: #E3CFBC;
  background: #3C2520;
  text-decoration: none;
  justify-content: center;
  z-index: 1;
}

.botao-linha a:hover {
  background-color: #A27F77;
  color: #3C2520;
}

.linha-botao {
  width: 655px;
  z-index: 0;
  background-color: #3c2520;
  height: 2.5px;
  position: absolute;
  margin: 29px 0px 0px 21px;
}



/* scroll - fade */

.texto-img {
  display: flex;
}

.div1,
.div2 {
  display: grid;
  position: relative;
}

.div2 {
  top: -30px;
}

.scroll-img {
  display: flex;
  justify-content: space-evenly;
  max-width: 1100px;
  width: 40%;
  margin: 20px auto;
  overflow-x: hidden;
  z-index: 3;
  position: relative;
  top: -217px;
  left: 46px;
}

.scroll-img img {
  width: 205px;
  height: auto;
  margin: 50px 0px 0px;
  border-radius: 12px;
  box-shadow: 10px 10px 5px #52231845;
}

/* fim scroll */

/* setor três - produtos - FIM */

/* ScrollTrigger */

.divisoria {
  background-color: #3C2520;
  height: 4px;
  width: 1382px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 6% 76px;
  border-radius: 11px;
}

.container-scroll .primeiro,
.container-scroll .segundo,
.container-scroll .terceiro {
  font-family: 'Poppins-Semi';
  font-size: 35px;
  color: white;
}

.container-scroll .young {
  font-family: 'Young-serif';
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
}

.container-scroll input {
  background-color: #3C2520;
  color: white;
  width: 555px;
  height: 45px;
  border-radius: 15px;
  font-family: 'Poppins-Semi';
  padding-left: 25px;
  font-size: 16px;
  box-shadow: 7px 7px 5px #E3CFBC;
  margin-right: 20px;
}

.container-scroll button {
  background-color: #3C2520;
  width: 125px;
  height: 45px;
  border-radius: 15px;
  color: white;
  font-family: 'Young-serif';
  font-size: 16px;
  box-shadow: 7px 7px 5px #E3CFBC;
  cursor: pointer;
}

.container-scroll button:hover {
  background-color: #B99B8D;
  color: #3C2520;
}

.container-scroll {
  background-image: url(img-interface/banner\ scroll.svg);
  height: 550px;
  text-align: center;
  padding-top: 170px;
  align-items: center;
  /* margin-bottom: 100px; */
}

.container-scroll span {
  color: white;
  font-size: 50px;
}

.segundo,
.terceiro {
  display: none;
}

/* fim ScrollTrigger */


/* inicio sustentabilidade */

#sustentabilidade{
  height: 758px;
}

.sustentabilidade {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15.5%;
  align-items: center;

}

.mao-terra {
  height: 591px;
  width: 409px;
  margin-top: 99px;
}

.folheto {
  display: grid;
  z-index: 0;
  position: relative;
  height: 352.82px;
  width: 260.21px;
  border-radius: 26px;
  background-image: url(img-interface/papel.svg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  font-family: 'Young-serif';
  font-size: 25px;
  color: #3C2520;
  align-content: space-evenly;
  padding: 8.3% 0;
  bottom: 329px;
  left: 174px;
}

.folheto img {
  height: auto;
  width: 169.83px;

}

.circleUm,
.circleDois {
  width: 306px;
  height: 306px;
  background-color: #3C2520;
  border-radius: 300px;
  position: absolute;
  z-index: -1;
}

.circleUm {
  margin-top: 253px;
  left: 173px;
}

.circleDois {
  left: 216px;
  margin-top: 454px;
}

.textoSustentavel{
  /* margin: 0px 127px 184px; */
  text-align: center;
  width: 443px;
}

.textoSustentavel h2{
  color: #6D5448;
  font-family: 'Poppins-bold';
  font-size: 40px;
  width: 492px;
  
}

.textoSustentavel .e{
  font-family: 'Young-serif';
  font-size: 24px;
  color: #6D5448;
}

.textoSustentavel h2 span{
  color: #3C2520;
  font-family: 'Young-sefif';

}

.textoSustentavel p{
  color: #522318;
  font-family: 'Poppins-regular';
  font-size:18.3px;

}

.textoSustentavel a{
  background-color: #3C2520;
  font-family: 'Young-serif';
  font-size: 18px;
  color: #E3CFBC;
  border-radius: 14px;
}


/* fim sustentabilidade */



/* inicio footer */

footer {
  background-color: #3C2520;
}

.container-footer,
.parte1,
.part2,
.logo-footer {
  display: flex;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4% 6%;
}

.container-footer nav {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Young-serif';
  font-size: 22px;

}

.container-footer nav a {
  margin: 12px 19px;
  color: #E3CFBC;
}

.redes-sociais {
  display: grid;
  justify-items: center;
}

.redes-sociais img {
  margin: 15px 0;
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-footer img {
  width: 137px;
}

.logo-footer h2 {
  padding-left: 37px;
  font-family: 'Young-serif';
  font-size: 31.56px;
  color: #E3CFBC;
}

/* fim footer */

/* inicio login.html */

.favoritos-login {
  margin: 0 0 0 713px;
}

.container-login {
  justify-content: space-between;
  margin: 0 133.7px;
}

.botao-login a {
  background-color: #3C2520;
  color: #F8F1EE;
}

.botoes-login {
  height: 36px;
}

.box {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.box h3 {
  font-size: 46px;
  color: #522318;
  font-family: 'Young-serif';

}

.box h3 span {
  font-size: 46px;
  color: #835248;
  font-family: 'Young-serif';
}

.box .img-login {
  width: 634px;
  height: 834px;
}

.conteudo-login {
  margin: 98px 232px 0;
}

.linha-titulo {
  margin: 0 0 43px;
  border-radius: 8px;
  width: 414px;
  background: #522318;
  height: 3px;
}

.campo {
  display: grid;
}

.campo input {
  margin: 0 0 41px 0;
  font-family: 'Young-serif';
  font-size:17px;
}

.usuario,
.nome,
.email,
.telefone {
  position: relative;
}

.usuario i {
  position: absolute;
  left: 20px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 28px;
}

.usuario .linha-input {
  position: absolute;
  left: 61px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 28px;
  background-color: #522318;
  width: 3px;
  height: 33px;
  border-radius: 20px;
}

.usuario input {
  width: 415px;
  background: #E3CFBC;
  border-radius: 15px;
  padding: 19px 84px;
  
}

.usuario input::placeholder {
  font-family: 'Young-serif';
  color: #835248bb;
  font-size: 16px;
  padding-top: 23px;
}

.senha {
  position: relative;
}

.senha .fa-key {
  position: absolute;
  left: 20px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 28px;
}

.fa-eye {
  position: absolute;
  left: 361px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
}



.senha .fa-regular {
  position: absolute;
  left: 361px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
}

.senha .linha-senha {
  position: absolute;
  left: 61px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 28px;
  background-color: #522318;
  width: 3px;
  height: 33px;
  border-radius: 20px;
}

.senha input {
  width: 415px;
  background: #E3CFBC;
  border-radius: 15px;
  padding: 19px 84px;
}

.senha input::placeholder {
  font-family: 'Young-serif';
  color: #835248bb;
  font-size: 16px;
  padding-top: 23px;
}

.icons {
  display: flex;
  justify-content: center;
}


.icons img {
  margin: 4% 4% 34% 4%;
  width: 45px;
  height: auto;
  z-index: 1;
}

.outros-registros input {
  background: #4F250D;
  width: 413px;
  height: 51px;
  border-radius: 15px;
  font-family: 'Young-serif';
  font-size: 22px;
  color: #fff;
}

.outros-registros button {
  background: #4F250D;
  width: 413px;
  height: 51px;
  border-radius: 15px;
  font-family: 'Young-serif';
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.outros-registros p {
  color: #A27F77;
  font-size: 14.8px;
  font-family: 'Young-serif';
  padding: 2.5% 3% 11.5%;
}

.outros-registros span {
  color: #835248;
}

.login-sociais p {
  width: 50px;
  left: 43.7%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 22px;
  font-family: 'Young-serif';
  color: #522318;
  background-color: #F8F1EE;
}

.linha-sociais {
  top: 19px;
  z-index: 0;
  width: 408px;
  height: 3px;
  background: #522318;
  position: relative;
  left: 2px;
  border-radius: 10px;
}



.linha-icons {
  background: #522318;
  height: 1.5px;
  width: 25px;
  position: relative;
  left: 234px;
  top: 40px;
  z-index: 0;
}

.linha-icons2 {
  background: #522318;
  height: 2px;
  width: 25px;
  position: relative;
  left: 156px;
  top: 40px;
  z-index: 0;
}

.line-icons {
  background: #522318;
  height: 1.9px;
  width: 25px;
  position: absolute;
  left: 389px;
  top: 822px;
  z-index: 0;
}

.line-icons2 {
  background: #522318;
  height: 1.5px;
  width: 25px;
  position: relative;
  left: 234px;
  top: 40px;
  z-index: 0;
}

/* fim login.html */


/* inicio cadastro */

.nome .pencil {
  width: 25px;
  height: auto;
}

.nome .pencil {
  position: absolute;
  left: 20px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 28px;
}

.nome .linha-nome {
  position: absolute;
  left: 61px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 28px;
  background-color: #522318;
  width: 3px;
  height: 33px;
  border-radius: 20px;
}

.nome input {
  width: 415px;
  background: #E3CFBC;
  border-radius: 15px;
  padding: 19px 84px;
}

.nome input::placeholder {
  font-family: 'Young-serif';
  color: #835248bb;
  font-size: 16px;
  padding-top: 23px;
}

.email i {
  position: absolute;
  left: 18px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 28px;
}

.email .linha-email {
  position: absolute;
  left: 61px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 28px;
  background-color: #522318;
  width: 3px;
  height: 33px;
  border-radius: 20px;
}

.email input {
  width: 415px;
  background: #E3CFBC;
  border-radius: 15px;
  padding: 19px 84px;
}

.email input::placeholder {
  font-family: 'Young-serif';
  color: #835248bb;
  font-size: 16px;
  padding-top: 23px;
}

.telefone i {
  position: absolute;
  left: 17px;
  top: 28%;
  transform: translateY(-50%);
  font-size: 28px;
}

.telefone .linha-tel {
  position: absolute;
  left: 61px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 28px;
  background-color: #522318;
  width: 3px;
  height: 33px;
  border-radius: 20px;
}

.telefone input {
  width: 415px;
  background: #E3CFBC;
  border-radius: 15px;
  padding: 19px 84px;
}

.telefone input::placeholder {
  font-family: 'Young-serif';
  color: #835248bb;
  font-size: 16px;
  padding-top: 23px;
}

.img-cadastro {
  width: 634px;
  height: 1124px;
}

/* fim cadastro */